<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Email</title>
</head>
<body>
    <p>Name: <%= fullName %>,</p>
    <p>Company Name: <%= companyName %></p>
    <p>Email: <%= email %></p>
    <p>Message:</p>
    <p><%= message %></p>
</body>
</html>